{% extends 'global/pages/base_template.html' %}

{% block title %}Excluir Prontuário {% endblock title %}

{% block body %}

    <main class="main-content-container">
        <div class="container">
            <div class="pacient-detail">
                <div class="card-title-container bg-dark">
                    <h2 class="card-title">Excluir Prontuário</h2>
                </div>
                
                <div class="card-content">
                    <h3>Confirma a exclusão do prontuário listado abaixo?</h3>
                    <p><strong>Nome do paciente:</strong> {{ prontuary.pacient }}</p>
                    <p><strong>Código do prontuário:</strong> {{ prontuary.code }}</p>
                </div> 
                        
                <div class="card-footer container-grid">
                    <span>
                        <a href="{% url 'prontuaries:prontuaries' %}" class="btn-light"><h3>Cancelar</h3></a>
                    </span>

                    <span>
                        <a href="{% url 'prontuaries:prontuary_delete' prontuary.id %}" class="btn-light"><h3>Excluir</h3></a>
                    </span>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
