{% extends 'global/pages/base_template.html' %}

{% block title %}Registro de Pagamento {% endblock title %}

{% block body %}

    <main class="main-content-container">
        <div class="container">
            <form id="form-id" method="POST" action={% url 'payments:payment_register_save' %}>
                <div class="pacient-detail">
                    <div class="card-title-container bg-dark">
                        <h2 class="card-title">Registro de Pagamento</h2>
                    </div>
                    
                    <div class="card-content">
                        {% csrf_token %}
                        <div class="form-content form-content-grid">
                            {% for field in form %}
                                <div class="form-group">
                                    <strong><label for="{{ field.id_for_label }}">{{ field.label }}</label></strong>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <p class="help-text">{{ field.help_text }}</p>
                                        {% endif %}

                                        {{ field.errors }}
                                </div>
                            {% endfor %}                            
                        </div>
                    </div>          
                    
                    <footer class="card-footer container-grid">
                        <a class="btn-link" href="#" onclick="document.getElementById('form-id').submit();">
                            <span>Cadastrar pagamento</span>
                        </a>
                        
                        <a class="btn-link" href="{% url 'payments:payments' %}">
                            <span>Cancelar</span>
                        </a>
                    </footer>
                </div>
            </form>
        </div>
    </main>
        
{% endblock body %}
