{% extends 'global/pages/base_template.html' %}

{% block title %}Excluir Pagamento {% endblock title %}

{% block body %}

    <main class="main-content-container">
        <div class="container">
            <div class="pacient-detail">
                <div class="card-title-container bg-dark">
                    <h2 class="card-title">Excluir pagamento</h2>
                </div>
                
                <div class="card-content">
                    <h3>Confirma a exclusão do pagamento listado abaixo?</h3>
                    <p><strong>Paciente:</strong> {{ payment.pacient }}</p>
                    <p><strong>Valor pago:</strong> R$ {{ payment.value_pay }}</p>
                    <p><strong>Descrição:</strong> {{ payment.description }}</p>
                    <p><strong>Forma de pagamento:</strong> {{ payment.way_pay }}</p>
                </div> 
                        
                <div class="card-footer container-grid">
                    <span>
                        <a href="{% url 'payments:payments' %}" class="btn-light"><h3>Cancelar</h3></a>
                    </span>

                    <span>
                        <a href="{% url 'payments:payment_delete' payment.id %}" class="btn-light"><h3>Excluir</h3></a>
                    </span>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
