{% load static %}
{% block professional_card %}
{% for psychologist in psychologists %}
  <div class="col-lg-3 col-md-6">
    <div class="member">
      <div class="pic">
        <img src="/media/{{ psychologist.photo }}" width="100%" alt="">
      </div>
      <h4>
        <a href="{% url 'professional_description' psychologist.id %}">
          {{ psychologist.psychologist.first_name }} {{ psychologist.psychologist.last_name }}
        </a>
      </h4>
      <span>{{ psychologist.short_description }}</span>
    </div>
  </div>
{% endfor %}
{% endblock professional_card %}