<div class="pacient-detail">
  
    <div class="card-title-container bg-dark">
        <h2 class="card-title">{{ pacient.pacient_name }}</h2>
    </div>

    <div class="card-content">
        <h3>Informações gerais:</h3>
        <table>
            <tbody>
                <tr>
                    <td class="table-space-double">Data/horário: </td>
                    <td>{{ pacient.session_week_day }} | {{ pacient.session_hour }}</td>
                </tr>
                <tr>
                    <td class="table-space-double">Telefone: </td>
                    <td> {{ pacient.phone_number }}</td>
                </tr>
                <tr>
                    <td class="table-space-double">Plano: </td>
                    <td> {{ pacient.plain }}</td>
                </tr>
                <tr>
                    <td class="table-space-double">Paciente desde: </td>
                    <td> {{ pacient.created_at }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-content">
        <h3>Última sessão:</h3>
        <table>
            <tbody>
                <tr>
                    <td class="table-space-double"><strong>Data:</strong></td>
                    <td>{{ pacient.created_at }}</td>
                </tr>
                <tr>
                    <td class="table-space-double"><strong>Alguma outra info:</strong</td>
                    <td> ??????????????</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="card-footer container-grid">
        <a class="btn-link" href="{% url 'pacients:pacient_update' pacient.id %}">
            <i class="fas fa-edit"></i>
            <span>Editar</span>
        </a>
        <a class="btn-link" href="{% url 'pacients:pacient_delete_confirm' pacient.id %}">
            <i class="fas fa-trash"></i>
            <span>Excluir</span>
        </a>
    </footer>


    {% comment %} <div class="card-footer container-grid">
        <span><button class="btn-light">Nova sessão</button></span>
        <span><button class="btn-light">Registrar pagamento</button></span>
        <span><button class="btn-light">Consultar sessão</button></span>
        <span><button class="btn-light">Editar paciente</button></span>
    </div> {% endcomment %}
    
</div>