{% extends "pages/financial/payment_control.html" %}
{% load static %}
{% block content %}
  <section id="more-features" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3 class="section-title">Controle de Recebimentos</h3>
        <span class="section-divider"></span>
        <p class="section-description"></p>
      </div>

        <div class="row gy-4">
          <div class="d-flex justify-content-between">
              <a href="{% url 'create_payment_control' %}" class="text-right form-button">Inserir recebimento</a>
              <a href="{% url 'payment_control_report' %}" class="text-right form-button">Relatório de recebimentos</a>
          </div>
          
          {% for payment in payments %}
            <div class="col-lg-6">
              <div class="box">
                <h4 class="title"><a href="">{{ payment.prontuary.patient }} | Recibo: {{ payment.id }}</a></h4>
                <div class="d-flex justify-content-between">
                  <div class="col-lg-8">
                    <p class="description">R$ {{ payment.value_paid }}</p>
                    <p class="description"><i class="bi bi-calendar-week"></i> {{ payment.date_of_pay|date:'d/m/Y' }}</p>
                    <p class="description"><i class="bi bi-list-columns-reverse"></i> {{ payment.description }}</p>
                    <p class="description"><i class="bi bi-wallet2"></i> {{ payment.payment_method }}</p>
                    {% if payment.checking_copy %}                    
                      <p class="description"><i class="bi bi-card-image"></i> Comprovante cadastrado</p>
                    {% else %}
                      <p class="description"><i class="bi bi-exclamation-triangle"></i></i> Comprovante não cadastrado</p>
                    {% endif %}
                  </div>
                  <div>
                    <p><a href="{% url 'payment_receipt' payment.id %}"><i class="bi bi-card-text"></i> Gerar Recibo</a></p>
                    <p><a href="{% url 'payment_control_update' payment.id %}"><i class="bi bi-pencil-square"></i> Editar</a></p>
                    <br>
                    <p><a href="{% url 'payment_control_delete_confirm' payment.id %}"><i class="bi bi-trash"></i> Excluir</a></p>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </section>
{% endblock content %}