{% extends "pages/financial/payment_control.html" %}
{% load static %}
{% load l10n %}
{% block content %}
  <section id="more-features" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3 class="section-title">Editar Recebimento</h3>
        <span class="section-divider"></span>
      </div>

      <form action="" method="post" class="email-form" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row d-flex justify-content-center">        
          <div class="box col-lg-8 col-md-8">
            <div class="form-group mt-3">
              <h4 >Pagamento de {{ payment_control.prontuary }}</h4>
            </div>
            
            <div class="form-group mt-3">
              <label for="{{ form.value_paid.id_for_label }}">* {{ form.value_paid.label }}</label>
              <input 
                type="number" 
                name="value_paid" 
                class="form-control" 
                id="value_paid.id_for_label"
                value="{{ form.value_paid.value|unlocalize }}"
              >
            </div>
            
            <div class="form-group mt-3">
              <label for="{{ form.date_of_pay.id_for_label }}">* {{ form.date_of_pay.label }}</label>
                <input 
                  type="date" 
                  name="date_of_pay" 
                  class="form-control" 
                  id="date_of_pay.id_for_label"
                  value="{{ form.date_of_pay.value|date:'Y-m-d' }}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
              <textarea 
                class="form-control"
                name="description"
                id="description.id_for_label"
                rows="5"
              >{{ form.description.value }}</textarea>
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.payment_method.id_for_label }}">* {{ form.payment_method.label }}</label>
              <select size=5 name="payment_method" id="payment_method.id_for_label" class="form-control">
                <option value="Pix" {% if form.payment_method.value == 'Pix' %}selected{% endif %}>Pix</option>
                <option value="Dinheiro" {% if form.payment_method.value == 'Dinheiro' %}selected{% endif %}>Dinheiro</option>
                <option value="Cartão de Crédito" {% if form.payment_method.value == 'Cartão de Crédito' %}selected{% endif %}>Cartão de Crédito</option>
                <option value="Transferência" {% if form.payment_method.value == 'Transferência Bancária' %}selected{% endif %}>Transferência Bancária</option>
                <option value="Cheque" {% if form.payment_method.value == 'Cheque' %}selected{% endif %}>Cheque</option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.checking_copy.id_for_label }}">{{ form.checking_copy.label }}</label>
              {% if form.checking_copy.value %}
              <p>
                <img class="advanced-feature-img-right wow fadeInRight" src="/media/{{payment_control.checking_copy}}" width="100%" alt="checking copy image">
              </p>
              {% endif %}
              <br>
              <input 
                  type="file" 
                  name="checking_copy" 
                  class="form-control" 
                  id="checking_copy.id_for_label"
                  value="{{ form.checking_copy.value }}"
                >         
            </div>

            <div class="text-center">
              <p>Campos marcados com * são obrigatórios</p>
              <br>
              <div class="text-center">
                <button class="form-button" type="submit" title="Send Message">Atualizar</button>
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            {{ form.errors }}
          </div>
          
        </div>
      </form>
    </div>
  </section>
{% endblock content %}