{% load static %}
{% block about %}
 <section id="about" class="section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">O que é a Psique Ativa?</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          Em construção
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
          <img src={% static "img/about-img.jpg"%} alt="">
        </div>

        <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
          <h2>Seu tempo é precioso</h2>
          <h3>Em construção</h3>
          <p>
            Em construção
          </p>

          <ul>
            <li><i class="bi bi-check-circle"></i> Em construção.</li>
            <li><i class="bi bi-check-circle"></i> Em construção.</li>
            <li><i class="bi bi-check-circle"></i> Em construção.</li>
          </ul>

          <p>
            Em construção
          </p>
        </div>
      </div>

    </div>
  </section>
{% endblock about %}