{% load static %}
{% block blog %}
    <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
              <h3 class="cta-title">Blog Profissional | Psique Ativa</h3>
              <p class="cta-text"> Em construção </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Visitar Blog</a>
            </div>
          </div>
        </div>
      </section>
{% endblock blog %}