{% block header %}
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">
        
        <div id="logo">
            <h1><a href="{% url 'site_interface:home' %}">Psique Ativa</a></h1>
        </div>
        
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'site_interface:home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="#team">Profissionais</a></li>
                <li><a class="nav-link scrollto" href="#blog">Blog</a></li>
                <li><a class="nav-link scrollto" href="/meuconsultorio/">Meu Consultório</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
{% endblock header %}