{% extends 'global/pages/base_template.html' %}

{% block title %}Home {% endblock title %}

{% block body %}
    {% comment %} {% include 'global/components/search_container.html' %} {% endcomment %}
   
    <main class="main-content-container">
        <div class="main-content-list container">
            {% if request.user.is_authenticated %}
                {% include 'components/card_logged.html' %}
            {% else %}
                {% include 'components/card_notlogged.html' %}
            {% endif %}
        </div>    

    </main>

{% endblock body %}