{% load static %}
{% block payment_plains_list %}
    <section id="faq">
        <div class="container">
          <div class="section-header">
            <h3 class="section-title">Planos de Pagamento Arquivados</h3>
            <span class="section-divider"></span>
            <p class="section-description">Profissional: {{ psychologist.psychologist.first_name }} {{ psychologist.psychologist.last_name }}</p>
          </div>
  
          <ul class="faq-list">
            {% for payment_plain in payment_plains %}
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq{{ forloop.counter }}"> 
                  Plano: {{ payment_plain.name_plain }} <i class="bi bi-chevron-down icon-show">
                  </i><i class="bi bi-chevron-up icon-close"></i>
                </div>

                <div id="faq{{ forloop.counter }}" class="collapse" data-bs-parent=".faq-list">
                  <div class="d-flex justify-content-between">
                    <div>
                      <p>Valor do plano: R$ {{ payment_plain.plain_value }}</p>
                    </div>
                    <div>
                      <p>
                        <a href="{% url 'payment_plain_delete_confirm' payment_plain.id %}" class="text-center form-button">Excluir</a>
                        <a href="{% url 'payment_plain_unarchive' payment_plain.id %}" class="text-center form-button">Desarquivar</a>
                      </p>
                    </div>
                  </div>
                </div>

              </li>
            {% endfor %}
            <div class="d-flex justify-content-between">
              <div>
                <a href="{% url 'payment_plains' %}" class="text-center form-button">Mostrar não arquivados</a>
              </div>
            </div>
          </ul>
        </div>
      </section>

{% endblock payment_plains_list %}