{% extends "pages/patients_management/patients.html" %}
{% load static %}
{% load l10n %}
{% block content %}
  <section id="more-features" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3 class="section-title">Atualizar dados do paciente</h3>
        <span class="section-divider"></span>
      </div>

      <form action="" method="post" class="email-form" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row d-flex justify-content-center">        
          <div class="box col-lg-8 col-md-8">
            <h3>Informações gerais</h3>
            <div class="form-group mt-3">
              <label for="{{ form.patient_name.id_for_label }}">* {{ form.patient_name.label }}</label>
                <input 
                  type="text" 
                  name="patient_name" 
                  class="form-control" 
                  id="patient_name.id_for_label"
                  value="{% if form.patient_name.value %}{{ form.patient_name.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.birth_date.id_for_label }}">{{ form.birth_date.label }}</label>
                <input 
                  type="date" 
                  class="form-control"
                  name="birth_date"
                  id="birth_date.id_for_label"
                  value="{{ form.birth_date.value|date:'Y-m-d'}}" 
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="cpf"
                  id="cpf.id_for_label"
                  value="{% if form.cpf.value %}{{ form.cpf.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.occupation.id_for_label }}">{{ form.occupation.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="occupation"
                  id="occupation.id_for_label"
                  value="{% if form.occupation.value %}{{ form.occupation.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.school.id_for_label }}">{{ form.school.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="school"
                  id="school.id_for_label"
                  value="{% if form.school.value %}{{ form.school.value }}{% endif %}" 
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.session_week_day.id_for_label }}">{{ form.session_week_day.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="session_week_day"
                  id="session_week_day.id_for_label"
                  value="{% if form.session_week_day.value %}{{ form.session_week_day.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.session_hour.id_for_label }}">{{ form.session_hour.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="session_hour"
                  id="session_hour.id_for_label"
                  value="{% if form.session_hour.value %}{{ form.session_hour.value }}{% endif %}"
                >
            </div>
          </div>

          <div class="box col-lg-8 col-md-8">
            <h3>Pagamento</h3>
            <div class="form-group mt-3">
              <label for="{{ form.plain.id_for_label }}">* {{ form.plain.label }}</label>
              <br>
                <select size=5 name="plain" id="plain.id_for_label" class="form-control">
                  {% for payment_plain in payment_plains %}
                    <option value={{ payment_plain.id }} {% if payment_plain == patient_plain %}selected{% endif %}>{{ payment_plain.name_plain }}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.session_value.id_for_label }}">{{ form.session_value.label }}</label>
                <input 
                  type="number"
                  step=0.01
                  class="form-control"
                  name="session_value"
                  id="session_value.id_for_label"
                  value="{% if form.session_value.value %}{{ form.session_value.value|unlocalize }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.discount_agreement.id_for_label }}">{{ form.discount_agreement.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="discount_agreement"
                  id="discount_agreement.id_for_label"
                  value="{% if form.discount_agreement.value %}{{ form.discount_agreement.value }}{% endif %}"
                >
            </div>
          </div>

          <div class="box col-lg-8 col-md-8">
            <h3>Contato</h3>
            <div class="form-group mt-3">
              <label for="{{ form.phone_number.id_for_label }}">* {{ form.phone_number.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="phone_number"
                  id="phone_number.id_for_label"
                  value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.patient_address.id_for_label }}">{{ form.patient_address.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="patient_address"
                  id="patient_address.id_for_label"
                  value="{% if form.patient_address.value %}{{ form.patient_address.value }}{% endif %}" 
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <input 
                  type="email" 
                  class="form-control"
                  name="email"
                  id="email.id_for_label"
                  value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                >
            </div>
          </div>

          <div class="box col-lg-8 col-md-8">
            <h3>Responsável</h3>
            <div class="form-group mt-3">
              <label for="{{ form.responsable.id_for_label }}">{{ form.responsable.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="responsable"
                  id="responsable.id_for_label"
                  value="{% if form.responsable.value %}{{ form.responsable.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.phone_resp.id_for_label }}">{{ form.phone_resp.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="phone_resp"
                  id="phone_resp.id_for_label"
                  value="{% if form.phone_resp.value %}{{ form.phone_resp.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.father.id_for_label }}">{{ form.father.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="father"
                  id="father.id_for_label"
                  value="{% if form.father.value %}{{ form.father.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.phone_father.id_for_label }}">{{ form.phone_father.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="phone_father"
                  id="phone_father.id_for_label" 
                  value="{% if form.phone_father.value %}{{ form.phone_father.value }}{% endif %}"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.mother.id_for_label }}">{{ form.mother.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="mother"
                  id="mother.id_for_label"
                  value="{% if form.mother.value %}{{ form.mother.value }}{% endif %}" 
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.phone_mother.id_for_label }}">{{ form.phone_mother.label }}</label>
                <input 
                  type="text" 
                  class="form-control"
                  name="phone_mother"
                  id="phone_mother.id_for_label"
                  value="{% if form.phone_mother.value %}{{ form.phone_mother.value }}{% endif %}"
                >
            </div>
          </div>

          <div class="box col-lg-8 col-md-8">
            <div class="text-center">
              <p>Campos marcados com * são obrigatórios</p>
              <br>
              <div class="text-center">
                <button class="form-button" type="submit" title="Send Message">Atualizar</button>
              </div>
            </div>
          </div>
      
          <div class="form-group mt-3">
            {{ form.errors }}
          </div>
      </form>
    </div>
  </section>
{% endblock content %}