{% extends "pages/patients_management/prontuaries.html" %}
{% load static %}
{% block content %}
  <section id="more-features" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3 class="section-title">Prontuários Arquivados</h3>
        <span class="section-divider"></span>
        <p class="section-description"></p>
      </div>

        <div class="row gy-4">
          {% for prontuary in prontuaries %}
            <div class="col-lg-6">
              <div class="box">
                <h4 class="title"><a href="{% url 'prontuary_update' prontuary.id %}">{{ prontuary.patient.patient_name }} | Prontuário {{ prontuary.prontuary_number }}</a></h4>
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="description"><i class="bi bi-telephone"></i> {{ prontuary.patient.phone_number }}</p>
                    <p class="description"><i class="bi bi-calendar-week"></i> Aberto em {{ prontuary.open_date }}</p>
                    <p class="description"><i class="bi bi-calendar-week"></i> Fechado em {{ prontuary.close_date }}</p>
                    
                  </div>
                  <div>
                    <p><a href="{% url 'prontuary_details' prontuary.id %}"><i class="bi bi-clipboard2-pulse"></i> Prontuário Detalhado</a></p>
                    <p><a href="{% url 'prontuary_unarchive' prontuary.id %}"><i class="bi bi-archive"></i> Desarquivar</a></p>
                    <p><a href="{% url 'prontuary_delete_confirm' prontuary.id %}"><i class="bi bi-trash"></i> Excluir</a></p>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="d-flex justify-content-between">
            <div>
              <a href="{% url 'prontuary' %}" class="text-center form-button">Mostrar ativos</a>
            </div>
          </div>
        </div>
      </div>
  </section>
{% endblock content %}