
{% extends "pages/patients_management/prontuaries.html" %}
{% load static %}
{% block content %}
  <section id="contact">
    <div class="container" data-aos="fade-up">
      <div class="row">

        <div class="col-lg-2 col-md-2">
        </div>
        
        <div class="col-lg-8 col-md-8">
          <div class="section-header">
            <h3 class="section-title">Cadastrar Prontuário</h3>
            <span class="section-divider"></span>
          </div>
            <form action="{% url 'prontuary_save' %}" method="post" class="email-form" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="row">                        
                  <div class="form-group mt-3">
                    <label for="{{ form.patient.id_for_label }}">* {{ form.patient.label }}</label>
                    <br>
                    <select size=5 name="patient" id="patient.id_for_label" class="form-control">
                      {% for patient in patients %}
                        <option value={{ patient.id }}>{{ patient.patient_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                      
                  <div class="form-group mt-3">
                    <label for="{{ form.prontuary_number.id_for_label }}">* {{ form.prontuary_number.label }}</label>
                      <input 
                        type="text" 
                        class="form-control"
                        name="prontuary_number"
                        id="prontuary_number.id_for_label"
                        value="1"  
                      >
                  </div>

                  <div class="form-group mt-3">
                    <label for="{{ form.type_of_service.id_for_label }}">* {{ form.type_of_service.label }}</label>
                    <br>
                    <select size=5 name="type_of_service" id="type_of_service.id_for_label" class="form-control">
                      {% for service in types_of_service %}
                        <option value={{ service.id }}>{{ service.name }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="form-group mt-3">
                    <label for="{{ form.open_date.id_for_label }}">* {{ form.open_date.label }}</label>
                      <input 
                        type="date" 
                        class="form-control"
                        name="open_date"
                        id="open_date.id_for_label"  
                      >
                  </div>
                  
                  <div class="form-group mt-3">
                    <label for="{{ form.close_date.id_for_label }}">{{ form.close_date.label }}</label>
                      <input 
                        type="date" 
                        class="form-control"
                        name="close_date"
                        id="close_date.id_for_label"  
                      >
                  </div>

                  <div class="form-group mt-3">
                    <label for="{{ form.demand_description.id_for_label }}">* {{ form.demand_description.label }}</label>
                    <textarea 
                      class="form-control"
                        name="demand_description"
                        id="demand_description.id_for_label"
                        rows="5"
                      ></textarea>
                  </div>    
                </div>
                <div class="my-3">
                  <div class="loading">Carregando</div>
                  <div class="error-message">Erro ao cadastrar novo plano</div>
                  <div class="sent-message">Plano criado com sucesso</div>
                </div>
                <div class="text-center">
                  <p>Campos marcados com * são obrigatórios</p>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Cadastrar</button></div>
            </form>
            <div class="form-group mt-3">
              {{ form.errors }}
            </div>

            <div class="col-lg-2 col-md-2">
            </div>

      </div>
    </div>
  </section>
{% endblock content %}