{% load static %}
{% block professionals %}

 <section id="team" class="section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h3 class="section-title">Profissionais</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          <a href="">Conheça todos os profissionais</a>  
        </p>
        <p class="section-description"></p>
    </div>
      
    <div class="row">
      {% include "components/professionals/professional_card.html" %}
    </div>
  </div>
</section>
{% endblock professionals %}