SECRET="change-me"
JWT_SECRET_KEY="change-me"
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_STAGE="change-me"
DATABASE_ENGINE="django.db.backends.postgresql"
DATABASE_NAME="change-me"
DATABASE_USER="change-me"
DATABASE_PASSWORD="change-me"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT="5432"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS="change-me",
PER_PAGE=9