<div class="card card-list-item">
   
    <div class="card-title-container">
        <h2 class="card-title">Convênio: {{ plain.name_plain }}</h2>
    </div>

    <div class="card-content">
        <p><strong>Plano:</strong> {{ plain.name_plain }}</p>
        <p><strong>Valor:</strong> R$ {{ plain.plain_value }}</p>
    </div>

    <footer class="card-footer container-grid">
        <a class="btn-link" href="{% url 'plains:plains_update' plain.id %}">
            <i class="fas fa-edit"></i>
            <span>Editar</span>
        </a>
        <a class="btn-link" href="{% url 'plains:plains_delete_confirm' plain.id %}">
            <i class="fas fa-trash"></i>
            <span>Excluir</span>
        </a>
    </footer>
    
</div>