<div class="card card-list-item">
   
    <div class="card-title-container">
        <h2 class="card-title">{{ payment.pacient }} | Pagamento {{ payment.id }}</h2>
    </div>

    <div class="card-content">
        <p><strong>Valor pago: </strong> R$ {{ payment.value_pay }}</p>
        <p><strong>Data de pagamento: </strong> {{ payment.data_pay }}</p>
        <p><strong>Descrição: </strong> 
            {% if payment.description %}
                {{ payment.description }}
            {% else %}
                Sem descrição informada
            {% endif %}

        </p>
        <p><strong>Forma de pagamento: </strong> {{ payment.way_pay }}</p>
    </div>

    <footer class="card-footer container-grid">
        <a class="btn-link" href="{% url 'payments:payment_update' payment.id %}">
            <i class="fas fa-edit"></i>
            <span>Editar</span>
        </a>
        <a class="btn-link" href="{% url 'payments:payment_delete_confirm' payment.id %}">
            <i class="fas fa-trash"></i>
            <span>Excluir</span>
        </a>
    </footer>
    
</div>