{% extends "pages/financial/expense_categories.html" %}
{% load static %}
{% block content %}
  <section id="more-features" class="section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3 class="section-title">Cadastrar Categoria de Despesa</h3>
        <span class="section-divider"></span>
      </div>

      <form action="{% url 'expense_category_save' %}" method="post" class="email-form" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row d-flex justify-content-center">        
          <div class="box col-lg-8 col-md-8">
            <div class="form-group mt-3">
              <label for="{{ form.name.id_for_label }}">* {{ form.name.label }}</label>
                <input 
                  type="text" 
                  name="name" 
                  class="form-control" 
                  id="name.id_for_label"
                >
            </div>

            <div class="form-group mt-3">
              <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
              <textarea 
                class="form-control"
                name="description"
                id="description.id_for_label"
                rows="5"
              ></textarea>
            </div>

            <div class="text-center">
              <p>Campos marcados com * são obrigatórios</p>
              <br>
              <div class="text-center">
                <button class="form-button" type="submit" title="Send Message">Cadastrar</button>
              </div>
            </div>
          </div>

          <div class="form-group mt-3">
            {{ form.errors }}
          </div>
          
        </div>
      </form>
    </div>
  </section>
{% endblock content %}