<div class="pacient-detail">
  
    <div class="card-title-container bg-dark">
        <h2 class="card-title">{{ prontuary.pacient }}</h2>
    </div>

    <div class="card-content">
        <h3>Prontuário:</h3>
        <table>
            <tbody>
                <tr>
                    <td class="table-space-double"><strong>Código do prontuário: </strong> </td>
                    <td> {{ prontuary.code }}</td>
                </tr>
                <tr>
                    <td class="table-space-double"><strong>Data de abertura: </strong>  </td>
                    <td> {{ prontuary.open_date }}</td>
                </tr>
                <tr>
                    <td class="table-space-double"><strong>Data de fechamento: </strong>  </td>
                    <td> 
                        {% if prontuary.close_date %}
                        {{ prontuary.open_date }}
                        {% else %}
                        Prontuário aberto
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="table-space-double"><strong>Descrição da demanda: </strong>  </td>
                    <td> {{ prontuary.demand_description }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-content">
        <h3>Histórico de sessões:</h3>
        {% for session in  pacient_sessions %}
            <h4 class="padding-top-3rem">Sessão {{ session.num_session }}:</h4>
                <table>
                    <tbody>
                        <tr>
                            <td class="table-space-double"><strong>Data:</strong></td>
                            <td>{{ session.date_session }}</td>
                        </tr>
                        <tr>
                            <td class="table-space-double"><strong>Horário:</strong></td>
                            <td>{{ session.hour_session }}</td>
                        </tr>
                        {% if session.fault %}
                            <tr>
                                <td class="table-space-double"><strong>Falta?:</strong></td>
                                <td>Paciente faltou</td>
                            </tr>
                            <tr>
                                <td class="table-space-double"><strong>Justificativa:</strong></td>
                                <td>{{ session.justify_fault }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="table-space-double"><strong>Evolução:</strong></td>
                            <td>{{ session.evolution }}</td>
                        </tr>
                        {% if session.fault %}
                            <tr>
                                <td class="table-space-double"><strong>Encaminhamento:</strong></td>
                                <td>{{ session.forwarding }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td class="table-space-double"><strong>Pagamento:</strong></td>
                            <td>
                                {% if session.payment %}
                                Pago
                                {% else %}
                                Não pago
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
        {% endfor %}
    </div>

    <footer class="card-footer container-grid">
        <a class="btn-link" href="{% url 'prontuaries:prontuary_update' prontuary.id %}">
            <i class="fas fa-edit"></i>
            <span>Editar</span>
        </a>
        <a class="btn-link" href="{% url 'prontuaries:prontuary_delete_confirm' prontuary.id %}">
            <i class="fas fa-trash"></i>
            <span>Excluir</span>
        </a>
    </footer>    
</div>