{% extends 'global/pages/base_template.html' %}

{% block title %}Excluir Plano {% endblock title %}

{% block body %}

    <main class="main-content-container">
        <div class="container">
            <div class="pacient-detail">
                <div class="card-title-container bg-dark">
                    <h2 class="card-title">Excluir Plano</h2>
                </div>
                
                <div class="card-content">
                    <h3>Confirma a exclusão do plano listado abaixo?</h3>
                    <p>Plano: {{ plain.name_plain }}</p>
                    <p>Valor: R${{ plain.plain_value }}</p>
                </div> 
                        
                <div class="card-footer container-grid">
                    <span>
                        <a href="{% url 'plains:plains' %}" class="btn-light"><h3>Cancelar</h3></a>
                    </span>

                    <span>
                        <a href="{% url 'plains:plains_delete' plain.id %}" class="btn-light"><h3>Excluir</h3></a>
                    </span>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
